# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Laravel
.env
storage/logs/
bootstrap/cache/
vendor/

# Build output
public/hot
public/storage
public/build

# IDE
.idea/
.vscode/
*.swp
